{% extends 'base.html' %}

{% block content %}
<div class="container">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">{{hstock[0][0]}}</th>
                <th scope="col">{{hstock[1][0]}}</th>
                <th scope="col">{{hstock[2][0]}}</th>
            </tr>
        </thead>
        <tbody>
            {%for i in range(1, len(htitle))%}
                <tr>
                    <th scope="row">{{i}}</th>
                    <th >{{htitle[i]}}</th>
                    <td>{{hstock[0][i]}}</td>
                    <td>{{hstock[1][i]}}</td>
                    <td>{{hstock[2][i]}}</td>
                </tr>
            {%endfor%}

        </tbody>
    </table>


</div>

{% endblock %}